<h2>Previsão do tempo</h2>
<div *ngFor="let periodo of cidades  | slice:0:3">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <h2>{{periodo.entidade}} - {{periodo.uf}} - {{periodo.periodo}} </h2>
            <p>Max: {{periodo.temp_max}}º / Min: {{periodo.temp_min}}º</p>
            <p>Resumo: {{periodo.resumo}}</p>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- <div *ngFor="let periodo of cidades">
            <span>Dados: {{periodo}}</span>
            <h2>{{periodo.entidade}} - {{periodo.uf}} - {{periodo.periodo}} </h2>
            <p>Max: {{periodo.temp_max}}º / Min: {{periodo.temp_min}}º</p>
            <p>Resumo: {{periodo.resumo}}</p>
            <hr>
        </div> -->